<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <title>Sign in</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Sign in</p>
    <p class="forgot" align="center"><%=message%></p>
    <form class="form1" action="/login" method="post">
      <input class="un " type="text" align="center" placeholder="Username" name="username">
      <input class="pass" type="password" align="center" placeholder="Password" name="password">
      <button type="submit" name="button" class="submit" align="center">Sign In</button>
      <p class="forgot" align="center"><a href="/signUp">Dont have an account? Sign up</p>
    </form>

    </div>

</body>

</html> 
