<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <title>Sign in</title>
</head>

<body>
  <div class="main" style="height: 600px">
    <p class="sign" align="center">Sign Up</p>
    <p class="forgot" align="center"><%=message%></p>
    <form class="form1" action="/signUp" method="post">
      <input class="un " type="text" align="center" placeholder="First Name" name="fName">
      <input class="pass" type="text" align="center" placeholder="Last Name" name="lName">
      <input class="pass" type="email" align="center" placeholder="Email" name="email">
      <input class="pass" type="password" align="center" placeholder="Password" name="password1">
      <input class="pass" type="password" align="center" placeholder="Confirm Password" name="password2">
      <button type="submit" name="button" class="submit" align="center">Sign Up</button>
      <p class="forgot" align="center"><a href="/login">Already have an account? Log In</p>
      </form

    </div>

</body>

</html>
